{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.personio.de/v1"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "PersonioHR"
        },
        "description": "API for reading and writing personnel data incl. data about attendances and absences",
        "title": "Personnel Data",
        "version": "1.0",
        "x-apisguru-categories": [
            "enterprise"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_PersonioHR_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/personio/api-docs/master/personio-personnel-data-api.yaml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "personio.de",
        "x-serviceName": "personnel"
    },
    "paths": {
        "/company/attendances": {
            "get": {
                "description": "This endpoint is responsible for fetching attendance data for the company employees. It is possible to paginate results, filter by period and/or specific employees. The result will contain a list of attendance periods, structured as defined here.",
                "parameters": [
                    {
                        "description": "First day of the period to be queried. It is inclusive, so the day specified as start_date will also be considered on the results",
                        "in": "query",
                        "name": "start_date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "Last day of the period to be queried. It is inclusive, so the day specified as end_date will also be considered on the results.",
                        "in": "query",
                        "name": "end_date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "A list of Personio employee identifiers to filter the results. Only those employees specified here will be returned.",
                        "in": "query",
                        "name": "employees",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "description": "Pagination attribute to limit how many attendances will be returned per page",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 200
                        }
                    },
                    {
                        "description": "Pagination attribute to identify which page you are requesting, by the form of telling an offset from the first record that would be returned.",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object"
                                                },
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "data"
                                            ],
                                            "title": "Default response object",
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "items": {
                                                        "properties": {
                                                            "attributes": {
                                                                "items": {
                                                                    "properties": {
                                                                        "break": {
                                                                            "type": "integer"
                                                                        },
                                                                        "comment": {
                                                                            "type": "string"
                                                                        },
                                                                        "date": {
                                                                            "format": "date",
                                                                            "type": "string"
                                                                        },
                                                                        "employee": {
                                                                            "type": "integer"
                                                                        },
                                                                        "end_time": {
                                                                            "pattern": "^\\d\\d:\\d\\d$",
                                                                            "type": "string"
                                                                        },
                                                                        "is_holiday": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "is_on_time_off": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "start_time": {
                                                                            "pattern": "^\\d\\d:\\d\\d$",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "employee",
                                                                        "date",
                                                                        "start_time",
                                                                        "end_time",
                                                                        "break",
                                                                        "comment",
                                                                        "is_holiday",
                                                                        "is_on_time_off"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "type",
                                                            "attributes"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "limit": {
                                                    "type": "integer"
                                                },
                                                "offset": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "title": "List All Attenance Periods response",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": [
                                                {
                                                    "attributes": {
                                                        "break": 50,
                                                        "comment": "I was productive as hell",
                                                        "date": "2017-01-17",
                                                        "employee": 325659,
                                                        "end_time": "18:00",
                                                        "is_holiday": false,
                                                        "is_on_time_off": false,
                                                        "start_time": "9:00"
                                                    },
                                                    "id": 1234,
                                                    "type": "AttendancePeriod"
                                                },
                                                {
                                                    "attributes": {
                                                        "break": 60,
                                                        "date": "2017-01-18",
                                                        "employee": 325660,
                                                        "end_time": "18:30",
                                                        "is_holiday": false,
                                                        "is_on_time_off": true,
                                                        "start_time": "9:30"
                                                    },
                                                    "id": 1235,
                                                    "type": "AttendancePeriod"
                                                }
                                            ],
                                            "limit": 200,
                                            "offset": 0,
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "This endpoint is responsible for adding attendance data for the company employees. It is possible to add attendances for one or many employees at the same time. The payload sent on the request should be a list of attendance periods, in the form of an array containing attendance period objects.",
                "responses": {
                    "200": {
                        "description": "The attendance periods were created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object"
                                                },
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "data"
                                            ],
                                            "title": "Default response object",
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "message": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": {
                                                "message": "success"
                                            },
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ],
                                    "title": "Default error response",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "error": {
                                                "code": 400,
                                                "message": "Error when trying to insert Attendances periods rows"
                                            },
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "attendances": [
                                        {
                                            "break": 120,
                                            "date": "2017-01-18",
                                            "employee": 1234,
                                            "end_time": "18:00",
                                            "start_time": "8:00"
                                        },
                                        {
                                            "break": 35,
                                            "comment": "I was productive as hell",
                                            "date": "2017-01-17",
                                            "employee": 1235,
                                            "end_time": "12:00",
                                            "start_time": "9:00"
                                        }
                                    ]
                                },
                                "properties": {
                                    "attendances": {
                                        "items": {
                                            "properties": {
                                                "break": {
                                                    "description": "Break in minutes",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "comment": {
                                                    "description": "Optional comment",
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "description": "Attendance date as YYYY-MM-DD",
                                                    "format": "date",
                                                    "type": "string"
                                                },
                                                "employee": {
                                                    "description": "Employee identifier",
                                                    "type": "integer"
                                                },
                                                "end_time": {
                                                    "description": "End time as HH:MM",
                                                    "pattern": "^\\d\\d:\\d\\d$",
                                                    "type": "string"
                                                },
                                                "start_time": {
                                                    "description": "Start time as HH:MM",
                                                    "pattern": "^\\d\\d:\\d\\d$",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "employee",
                                                "date",
                                                "start_time",
                                                "end_time",
                                                "break",
                                                "comment"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "title": "Create a New Attendance Period request",
                                "type": "object"
                            }
                        }
                    },
                    "description": "List of attendance periods to create",
                    "required": true
                }
            }
        },
        "/company/attendances/{id}": {
            "delete": {
                "description": "This endpoint is responsible for deleting attendance data for the company employees.",
                "parameters": [
                    {
                        "description": "ID of the attendance period to delete",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ],
                                    "title": "Default response object",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": {
                                                "message": "The attendance period was deleted."
                                            },
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ],
                                    "title": "Default error response",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "error": {
                                                "code": 404,
                                                "message": "The attendance period was not found."
                                            },
                                            "success": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/company/employees": {
            "get": {
                "description": "List Employees",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": [
                                                {
                                                    "attributes": {
                                                        "contract_end_date": {
                                                            "label": "Contract ends"
                                                        },
                                                        "cost_centers": {
                                                            "label": "Cost center",
                                                            "value": [
                                                                {
                                                                    "attributes": {
                                                                        "id": 320,
                                                                        "name": "Cost Center One",
                                                                        "percentage": 50
                                                                    },
                                                                    "type": "CostCenter"
                                                                },
                                                                {
                                                                    "attributes": {
                                                                        "id": 321,
                                                                        "name": "Cost Center Two",
                                                                        "percentage": 50
                                                                    },
                                                                    "type": "CostCenter"
                                                                }
                                                            ]
                                                        },
                                                        "created_at": {
                                                            "label": "created_at",
                                                            "value": "2016-10-20T16:15:55+0200"
                                                        },
                                                        "department": {
                                                            "label": "Department",
                                                            "value": {
                                                                "attributes": {
                                                                    "name": "Marketing"
                                                                },
                                                                "type": "Department"
                                                            }
                                                        },
                                                        "dynamic_21827": {
                                                            "label": "IBAN",
                                                            "value": "DE98 8989 9898 0000 8989 00"
                                                        },
                                                        "dynamic_24407": {
                                                            "label": "Titel",
                                                            "value": "Dr"
                                                        },
                                                        "email": {
                                                            "label": "Email",
                                                            "value": "andreas.anderson@demo.com"
                                                        },
                                                        "employment_type": {
                                                            "label": "Employment type",
                                                            "value": "internal"
                                                        },
                                                        "first_name": {
                                                            "label": "First name",
                                                            "value": "Andreas"
                                                        },
                                                        "fix_salary": {
                                                            "label": "Fix salary",
                                                            "value": 4000
                                                        },
                                                        "gender": {
                                                            "label": "Gender",
                                                            "value": "male"
                                                        },
                                                        "hire_date": {
                                                            "label": "Hire date",
                                                            "value": "2012-02-01T00:00:00+0100"
                                                        },
                                                        "holiday_calendar": {
                                                            "label": "Holiday Calendar",
                                                            "value": {
                                                                "attributes": {
                                                                    "country": "DE",
                                                                    "id": 931,
                                                                    "name": "DE (Hamburg) Feiertage",
                                                                    "state": "Hamburg"
                                                                },
                                                                "type": "HolidayCalendar"
                                                            }
                                                        },
                                                        "hourly_salary": {
                                                            "label": "Hourly salary",
                                                            "value": 0
                                                        },
                                                        "id": {
                                                            "label": "id",
                                                            "value": 83752
                                                        },
                                                        "last_modified_at": {
                                                            "label": "Last modified",
                                                            "value": "2016-10-22T16:15:55+0200"
                                                        },
                                                        "last_name": {
                                                            "label": "Last name",
                                                            "value": "Anderson"
                                                        },
                                                        "last_working_day": {
                                                            "label": "Last working day",
                                                            "value": "2017-02-28T00:00:00+0200"
                                                        },
                                                        "office": {
                                                            "label": "Office",
                                                            "value": {
                                                                "attributes": {
                                                                    "name": "Munich"
                                                                },
                                                                "type": "Office"
                                                            }
                                                        },
                                                        "position": {
                                                            "label": "Position",
                                                            "value": "Online Marketing Specialist"
                                                        },
                                                        "probation_period_end": {
                                                            "label": "Probation period end",
                                                            "value": "2012-07-31T00:00:00+0200"
                                                        },
                                                        "status": {
                                                            "label": "Status",
                                                            "value": "active"
                                                        },
                                                        "supervisor": {
                                                            "label": "Supervisor",
                                                            "value": {
                                                                "attributes": {
                                                                    "email": {
                                                                        "label": "Email",
                                                                        "value": "max.mustermann@example.org"
                                                                    },
                                                                    "first_name": {
                                                                        "label": "First name",
                                                                        "value": "Max"
                                                                    },
                                                                    "id": {
                                                                        "label": "id",
                                                                        "value": 423506
                                                                    },
                                                                    "last_name": {
                                                                        "label": "Last name",
                                                                        "value": "Mustermann"
                                                                    }
                                                                },
                                                                "type": "Employee"
                                                            }
                                                        },
                                                        "termination_date": {
                                                            "label": "Termination date"
                                                        },
                                                        "termination_reason": {
                                                            "label": "Termination reason",
                                                            "value": ""
                                                        },
                                                        "termination_type": {
                                                            "label": "Termination type",
                                                            "value": ""
                                                        },
                                                        "vacation_day_balance": {
                                                            "label": "Vacation day balance",
                                                            "value": 28.5
                                                        },
                                                        "weekly_working_hours": {
                                                            "label": "Weekly hours",
                                                            "value": "40"
                                                        },
                                                        "work_schedule": {
                                                            "label": "Work Schedule",
                                                            "value": {
                                                                "attributes": {
                                                                    "friday": "06:00",
                                                                    "id": 123,
                                                                    "monday": "08:30",
                                                                    "name": "Standard Hours",
                                                                    "saturday": "00:00",
                                                                    "sunday": "00:00",
                                                                    "thursday": "08:30",
                                                                    "tuesday": "08:30",
                                                                    "wednesday": "08:30"
                                                                },
                                                                "type": "WorkSchedule"
                                                            }
                                                        }
                                                    },
                                                    "type": "Employee"
                                                }
                                            ],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/company/employees/{employee_id}": {
            "get": {
                "description": "Employee",
                "parameters": [
                    {
                        "description": "Numeric `id` of the employee",
                        "in": "path",
                        "name": "employee_id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": {
                                                "attributes": {
                                                    "contract_end_date": {
                                                        "label": "Contract ends"
                                                    },
                                                    "cost_centers": {
                                                        "label": "Cost center",
                                                        "value": [
                                                            {
                                                                "attributes": {
                                                                    "id": 320,
                                                                    "name": "Cost Center One",
                                                                    "percentage": 50
                                                                },
                                                                "type": "CostCenter"
                                                            },
                                                            {
                                                                "attributes": {
                                                                    "id": 321,
                                                                    "name": "Cost Center Two",
                                                                    "percentage": 50
                                                                },
                                                                "type": "CostCenter"
                                                            }
                                                        ]
                                                    },
                                                    "created_at": {
                                                        "label": "created_at",
                                                        "value": "2016-10-20T16:15:55+0200"
                                                    },
                                                    "department": {
                                                        "label": "Department",
                                                        "value": {
                                                            "attributes": {
                                                                "name": "Marketing"
                                                            },
                                                            "type": "Department"
                                                        }
                                                    },
                                                    "dynamic_21827": {
                                                        "label": "IBAN",
                                                        "value": "DE98 8989 9898 0000 8989 00"
                                                    },
                                                    "dynamic_24407": {
                                                        "label": "Titel",
                                                        "value": "Dr"
                                                    },
                                                    "email": {
                                                        "label": "Email",
                                                        "value": "andreas.anderson@demo.com"
                                                    },
                                                    "employment_type": {
                                                        "label": "Employment type",
                                                        "value": "internal"
                                                    },
                                                    "first_name": {
                                                        "label": "First name",
                                                        "value": "Andreas"
                                                    },
                                                    "fix_salary": {
                                                        "label": "Fix salary",
                                                        "value": 4000
                                                    },
                                                    "gender": {
                                                        "label": "Gender",
                                                        "value": "male"
                                                    },
                                                    "hire_date": {
                                                        "label": "Hire date",
                                                        "value": "2012-02-01T00:00:00+0100"
                                                    },
                                                    "holiday_calendar": {
                                                        "label": "Holiday Calendar",
                                                        "value": {
                                                            "attributes": {
                                                                "country": "DE",
                                                                "id": 931,
                                                                "name": "DE (Hamburg) Feiertage",
                                                                "state": "Hamburg"
                                                            },
                                                            "type": "HolidayCalendar"
                                                        }
                                                    },
                                                    "hourly_salary": {
                                                        "label": "Hourly salary",
                                                        "value": 0
                                                    },
                                                    "id": {
                                                        "label": "id",
                                                        "value": 83752
                                                    },
                                                    "last_modified_at": {
                                                        "label": "Last modified",
                                                        "value": "2016-10-22T16:15:55+0200"
                                                    },
                                                    "last_name": {
                                                        "label": "Last name",
                                                        "value": "Anderson"
                                                    },
                                                    "last_working_day": {
                                                        "label": "Last working day",
                                                        "value": "2017-02-28T00:00:00+0200"
                                                    },
                                                    "office": {
                                                        "label": "Office",
                                                        "value": {
                                                            "attributes": {
                                                                "name": "Munich"
                                                            },
                                                            "type": "Office"
                                                        }
                                                    },
                                                    "position": {
                                                        "label": "Position",
                                                        "value": "Online Marketing Specialist"
                                                    },
                                                    "probation_period_end": {
                                                        "label": "Probation period end",
                                                        "value": "2012-07-31T00:00:00+0200"
                                                    },
                                                    "status": {
                                                        "label": "Status",
                                                        "value": "active"
                                                    },
                                                    "supervisor": {
                                                        "label": "Supervisor",
                                                        "value": {
                                                            "attributes": {
                                                                "email": {
                                                                    "label": "Email",
                                                                    "value": "max.mustermann@example.org"
                                                                },
                                                                "first_name": {
                                                                    "label": "First name",
                                                                    "value": "Max"
                                                                },
                                                                "id": {
                                                                    "label": "id",
                                                                    "value": 423506
                                                                },
                                                                "last_name": {
                                                                    "label": "Last name",
                                                                    "value": "Mustermann"
                                                                }
                                                            },
                                                            "type": "Employee"
                                                        }
                                                    },
                                                    "termination_date": {
                                                        "label": "Termination date"
                                                    },
                                                    "termination_reason": {
                                                        "label": "Termination reason",
                                                        "value": ""
                                                    },
                                                    "termination_type": {
                                                        "label": "Termination type",
                                                        "value": ""
                                                    },
                                                    "vacation_day_balance": {
                                                        "label": "Vacation day balance",
                                                        "value": 28.5
                                                    },
                                                    "weekly_working_hours": {
                                                        "label": "Weekly hours",
                                                        "value": "40"
                                                    },
                                                    "work_schedule": {
                                                        "label": "Work Schedule",
                                                        "value": {
                                                            "attributes": {
                                                                "friday": "06:00",
                                                                "id": 123,
                                                                "monday": "08:30",
                                                                "name": "Standard Hours",
                                                                "saturday": "00:00",
                                                                "sunday": "00:00",
                                                                "thursday": "08:30",
                                                                "tuesday": "08:30",
                                                                "wednesday": "08:30"
                                                            },
                                                            "type": "WorkSchedule"
                                                        }
                                                    }
                                                },
                                                "type": "Employee"
                                            },
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/company/time-off-types": {
            "get": {
                "description": "Provides a list of available time-off types, for example 'Paid vacation', 'Parental leave' or 'Home office'",
                "parameters": [
                    {
                        "description": "Pagination attribute to limit how many records will be returned per page",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 200
                        }
                    },
                    {
                        "description": "Pagination attribute to identify which page you are requesting, by the form of telling an offset from the first record that would be returned.",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "attributes": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "description": "identifier",
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "description": "Time-off type resource name",
                                                        "enum": [
                                                            "TimeOffType"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "title": "Type of time-off resource",
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": [
                                                {
                                                    "attributes": {
                                                        "name": "Paid vacation"
                                                    },
                                                    "id": 1234,
                                                    "type": "TimeOffType"
                                                },
                                                {
                                                    "attributes": {
                                                        "name": "Home office"
                                                    },
                                                    "id": 1235,
                                                    "type": "TimeOffType"
                                                }
                                            ],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/company/time-offs": {
            "get": {
                "description": "This endpoint is responsible for fetching absence data for the company employees. It is possible to paginate results, filter by period and/or specific employees. The result will contain a list of absence periods, structured as defined here.",
                "parameters": [
                    {
                        "description": "First day of the period to be queried. It is inclusive, so the day specified as start_date will also be considered on the results",
                        "in": "query",
                        "name": "start_date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "Last day of the period to be queried. It is inclusive, so the day specified as end_date will also be considered on the results.",
                        "in": "query",
                        "name": "end_date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "A list of Personio employee identifiers to filter the results. Only those employees specified here will be returned.",
                        "in": "query",
                        "name": "employees",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "description": "Pagination attribute to limit how many attendances will be returned per page",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 200
                        }
                    },
                    {
                        "description": "Pagination attribute to identify which page you are requesting, by the form of telling an offset from the first record that would be returned.",
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object"
                                                },
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "data"
                                            ],
                                            "title": "Default response object",
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "attributes": {
                                                            "items": {
                                                                "properties": {
                                                                    "certificate": {
                                                                        "properties": {
                                                                            "status": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "created_at": {
                                                                        "type": "string"
                                                                    },
                                                                    "days_count": {
                                                                        "type": "number"
                                                                    },
                                                                    "employee": {
                                                                        "properties": {
                                                                            "attributes": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "email": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "first_name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "id": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "last_name": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "end_date": {
                                                                        "type": "string"
                                                                    },
                                                                    "half_day_end": {
                                                                        "type": "number"
                                                                    },
                                                                    "half_day_start": {
                                                                        "type": "number"
                                                                    },
                                                                    "id": {
                                                                        "type": "integer"
                                                                    },
                                                                    "start_date": {
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "type": "string"
                                                                    },
                                                                    "time_off_type": {
                                                                        "properties": {
                                                                            "attributes": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "type",
                                                        "attributes"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "title": "List All Absence Periods response",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": [
                                                {
                                                    "attributes": {
                                                        "certificate": {
                                                            "status": "not-required"
                                                        },
                                                        "created_at": "2017-01-17T10:32:18+0100",
                                                        "days_count": 3,
                                                        "employee": {
                                                            "attributes": {
                                                                "email": {
                                                                    "label": "Email",
                                                                    "value": "michael.miller@demo.com"
                                                                },
                                                                "first_name": {
                                                                    "label": "First name",
                                                                    "value": "Michael"
                                                                },
                                                                "id": {
                                                                    "label": "id",
                                                                    "value": 4567
                                                                },
                                                                "last_name": {
                                                                    "label": "Last name",
                                                                    "value": "Miller"
                                                                }
                                                            },
                                                            "type": "Employee"
                                                        },
                                                        "end_date": "2017-12-29T00:00:00+0100",
                                                        "half_day_end": 0,
                                                        "half_day_start": 0,
                                                        "id": 12345,
                                                        "start_date": "2017-12-27T00:00:00+0100",
                                                        "status": "approved",
                                                        "time_off_type": {
                                                            "attributes": {
                                                                "id": 54321,
                                                                "name": "Vacation"
                                                            },
                                                            "type": "TimeOffType"
                                                        }
                                                    },
                                                    "type": "TimeOffPeriod"
                                                }
                                            ],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "This endpoint is responsible for adding absence data for the company employees.",
                "responses": {
                    "201": {
                        "description": "The absence period was created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "object"
                                                        },
                                                        "success": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "success",
                                                        "data"
                                                    ],
                                                    "title": "Default response object",
                                                    "type": "object"
                                                },
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "properties": {
                                                                "attributes": {
                                                                    "properties": {
                                                                        "certificate": {
                                                                            "properties": {
                                                                                "status": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "created_at": {
                                                                            "type": "string"
                                                                        },
                                                                        "days_count": {
                                                                            "type": "number"
                                                                        },
                                                                        "employee": {
                                                                            "properties": {
                                                                                "attributes": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "email": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "first_name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "id": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "last_name": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "end_date": {
                                                                            "type": "string"
                                                                        },
                                                                        "half_day_end": {
                                                                            "type": "number"
                                                                        },
                                                                        "half_day_start": {
                                                                            "type": "number"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "start_date": {
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "type": "string"
                                                                        },
                                                                        "time_off_type": {
                                                                            "properties": {
                                                                                "attributes": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "id": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "description": "Time-off period resource name",
                                                                    "enum": [
                                                                        "TimeOffPeriod"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ],
                                            "title": "Time period when an employee is not available."
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "data": {
                                                "attributes": {
                                                    "certificate": {
                                                        "status": "not-required"
                                                    },
                                                    "created_at": "2017-01-17T10:32:18+0100",
                                                    "days_count": 3,
                                                    "employee": {
                                                        "attributes": {
                                                            "email": {
                                                                "label": "Email",
                                                                "value": "michael.miller@demo.com"
                                                            },
                                                            "first_name": {
                                                                "label": "First name",
                                                                "value": "Michael"
                                                            },
                                                            "id": {
                                                                "label": "id",
                                                                "value": 4567
                                                            },
                                                            "last_name": {
                                                                "label": "Last name",
                                                                "value": "Miller"
                                                            }
                                                        },
                                                        "type": "Employee"
                                                    },
                                                    "end_date": "2017-12-29T00:00:00+0100",
                                                    "half_day_end": 0,
                                                    "half_day_start": 0,
                                                    "id": 12345,
                                                    "start_date": "2017-12-27T00:00:00+0100",
                                                    "status": "approved",
                                                    "time_off_type": {
                                                        "attributes": {
                                                            "id": 54321,
                                                            "name": "Vacation"
                                                        },
                                                        "type": "TimeOffType"
                                                    }
                                                },
                                                "type": "TimeOffPeriod"
                                            },
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ],
                                    "title": "Default error response",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "error": {
                                                "code": 400,
                                                "message": "Error when trying to insert absence period"
                                            },
                                            "success": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Employee or Absence type not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ],
                                    "title": "Default error response",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
                                            "error": {
                                                "code": 0,
                                                "message": "Something went wrong"
                                            },
                                            "success": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ],
                                    "title": "Default error response",
                                    "type": "object"
                                },
                                "examples": {
                                    "response": {
                                        "value": {
[...]
